@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer base {
  body {
    @apply bg-neutral-50 text-accent-foreground dark:bg-neutral-950 dark:text-accent;
  }
  .white-shadow {
    box-shadow: 2px 2px 8px whitesmoke;
  }
  .no-shadow {
    box-shadow: none;
  }
  .black-shadow {
    box-shadow: 2px 2px 8px black;
  }
}